.niceCountryInputMenu {
    background: white !important;
    border: none ;
    border-bottom: 1.5px solid orange ;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
     /*
    font-family: Arial;
    font-size: 12px;
    */
}
.niceCountryInputMenuDefaultText {
    width: 270px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.niceCountryInputMenuDefaultText a:hover {
    text-decoration: none;
}
.niceCountryInputMenu a {
    color: #929292 !important;
}
.niceCountryInputMenuDropdown {
    /*border-left: 1px solid #a8a8a8;*/
    height: 25px;
    width: 21px;
    float: right;
    line-height: 25px;
    text-align: center;
    position: relative;
    right: 0;
    color: #005baa;
}
.niceCountryInputMenuDropdownContent {
    border: 1px solid #a8a8a8;
    border-top: 0;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}


.niceCountryInputMenuDropdownContent a {
    height: 25px;
    line-height: 25px;
    display: block;
    width: 100%;
    color: black !important;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;

}
.niceCountryInputMenuDropdownContent a:hover {
    background-color: #005baa !important;
    color: white !important;
    text-decoration: none;
}
.niceCountryInputMenuFilter {
    border: 1px solid #a8a8a8;
    border-top: 0;
    border-bottom: 0;
}
.niceCountryInputMenuFilter input {
    /*width: 100%;*/
    width: calc(100% - 30px);
    margin: 5px;
    padding: 5px;
    font-family: "Poppins",sans-serif;
    height: 2rem;
}
.niceCountryInputMenuCountryFlag {
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.niceCountryInputMenuCountryNoFlag {
    display: inline-block;
    border: 1px solid black;
    background: white;
    color: black;
    line-height: 15px;
    text-align: center;
    width: 22px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

.niceCountryInputMenuDefaultText a{
    display: flex;
    align-items: center;
}

.niceCountryInputMenuDefaultText a span{
    margin-left: 10px ;
    font-size: 14px;
}

.arrow{
    color: #005baa;
    margin-left: 5px !important;
}